<tmo-menu></tmo-menu>
<div class="container" ng-init="getProductDetails()">

<div class="thumbnail no-border no-margin no-padding thumbnail-ez-ezd clearfix" ng-repeat= "item in cartItemsDetails" style="margin-top:2%">

<div class="caption" style="margin-left:5%">
   <div class="row">
     <div class="col-md-6">
         <h4 class="caption-title">Name: {{item.name}}</h4>
     </div>
     <div class="col-md-6">
         <h4 class="caption-title">SKUID # {{item.skuid}}</h4>
     </div>
   </div>
    <div class="row" >
        <div class="col-md-2">
            <h4 class="caption-title">
               <img src="{{item.picture}}" class="tmo-ez-thumbnail-photo" alt="">
              </h4>
        </div>
        <div class="col-md-3">
            <div class="row" style="margin-top:2%">
              <span class="caption-title" >Vendor : {{item['product_detail'].vendor? item['product_detail'].vendor:'N/A'}}</span>

            </div>
            <div class="row">
              <span class="caption-title">Warranty : {{item['product_detail'].warranty?item['product_detail'].warranty:'N/A'}}</span>
            </div>

        </div>
        <div class="col-md-3">
          <div class="row" style="margin-top:2%">
            <span class="caption-title">Size : {{item.size}}</span>
          </div>
          <div class="row">
            <span class="caption-title">Color : {{item.color}}</span>
          </div>
        </div>
        <div class="col-md-2"  >
            <div class="buttons" style="margin-top:4%" ng-if="!item.isAccessory"><a class="btn btn-theme"  href="#searchAccessories">Accessories</a></div>
        </div>
        <div class="col-md-1">
           <span class="caption-title">Qty : {{item.quantity}}</span>
        </div>
        <div class="col-md-2">
            <span class="caption-title"  style="margin-top:5%">Price : {{item['sale_price']}}</span>
        </div>
    </div>
    <div class="caption-text-billing"> </div>
    <table class="table">
        <tbody><tr>
            <td class="ez-slat-tabled"><span class="hidden-xs">
              Description: {{item['product_detail']['more_description']?item['product_detail']['more_description']:item['description']}}
            </span></td>
        </tr>
    </tbody></table>
</div>
</div>
    <div class="col-md-12" style="margin-left:65%" class="buttons">&nbsp;</div>

   <div ng-if="cartItemsDetails.length >0">
    <div class="col-md-4" style="margin-left:83%" class="buttons"><Strong>Total Count: {{totalCartAmount}}</Strong></div>
    <div class="col-md-4" style="margin-left:65%" class="buttons">
        <a class="btn btn-theme" data-toggle="modal" data-target="#bookModal"
                ng-click="checkout(cartItemsDetails)">Checkout</a></div>
    </div>
    <div ng-if="cartItemsDetails.length == 0">
        <div class="noItems">CART EMPTY</div>
    </div>
    <div class="col-md-4" style="margin-left:65%" class="buttons">&nbsp;</div>
</div>
