<tmo-menu></tmo-menu>
<div style="padding-top:20px;margin-left:300px" ng-init="getproducts()">
<form class="form-horizontal" name="feedbackForm" >
    <div class="form-group">
        <label for="searchItems" class="col-sm-2 control-label">Search Items</label>
         <div class="col-sm-4">
          <input type="text" class="form-control" id="searchItems" name="searchItems" placeholder="Search" ng-model="productSkuId" submit-required="true"/>
          </div>

        <div class="buttons col-sm-2"><a class="btn btn-theme" ng-click="getproducts()">Go</a></div>

    </div>
</form>
</div>
<div ng-if="noProducts" class="text-center" style="color:#a1b1bc">No Results Found</div>

<!-- CONTENT AREA -->
<div class="content-area" ng-if="productList.length >0" >
    <!-- SECTION STARTED -->
    <section class="page-section with-sidebar sub-page">
        <div class="container">
            <div class="row">
                <!-- CONTENT -->
                <div class="col-md-4 content" id="content" ng-repeat="product in productList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                    <!-- Excursion Listing -->
                 <div class="thumbnail no-border  no-padding thumbnail-ez-ezd clearfix" ng-init="showDetails=false" >
                     <div ng-click="showDetails=true;getProductDetails(product.id);">
                        <div class="media">
                            <a class="media-link" data-gal="prettyPhoto">
                                <img src="{{product.picture}}" class="ez-thumbnail-photo" alt="">
                                <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                            </a>
                        </div>
                        <div class="caption tmo-caption">

                            <h4 class="caption-title">{{product.name}}<span class="pull-right" align="center">SKU: {{product.skuid}}</span></h4>
                            <table class="table">
                                <tbody><tr class="bt0">
                                    <td class="bt0"><strong>Color: </strong>{{product.color}} </td>
                                    <td class="bt0 bl0"><strong >Retail Price:</strong><span class="tmo-strike"> {{product.retail_price}} </span></td>
                                </tr>
                                <tr class="bt0">
                                    <td class="bt0"><strong>Size: </strong>{{product.size}} </td>
                                    <td class="bt0 bl0"><strong>Sale Price:</strong> {{product.sale_price}} </td>
                                </tr>
                            </tbody></table>
                            <div class="caption-text ellipsis">Description: {{product.description}}</div>                      
                        </div>                        
                     </div>
                      <table class="table">
                            <tbody><tr>
                                <td class="buttons pull-right"><a class="btn btn-theme" data-toggle="modal"
                                       ng-click="addItemsToCart(product)">{{buttonNames.cart}}</a></td>
                            </tr>
                        </tbody>
                     </table>
                    </div>
                    <!--Modal Window -->
                    <div class="modal-dialog popOverDetails" tabindex="-1" ng-show="showDetails">
                    <div class="modal-content">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showDetails=false" style="margin-right:15px;margin-top:5px;"><span aria-hidden="true">&times;</span></button>
                           
                        <div class="caption">
                           <div class="row">
                             <div class="col-md-6">
                                 <h4 class="caption-title">Name: {{productDetails.name}}</h4>
                             </div>
                             <div class="col-md-4">
                                 <h4 class="caption-title">SKUID # {{productDetails.skuid}}</h4>
                             </div>
                           </div>
                            <div class="row" >
                                <div class="col-md-2">
                                    <h4 class="caption-title">
                                       <img src="{{productDetails.picture}}" class="tmo-ez-thumbnail-photo" alt="">
                                      </h4>
                                </div>
                                <div class="col-md-3">
                                    <div class="row" style="margin-top:2%">
                                      <span class="caption-title" >Vendor : {{productDetails['product_detail'].vendor? productDetails['product_detail'].vendor:'N/A'}}</span>

                                    </div>
                                    <div class="row">
                                      <span class="caption-title">Warranty : {{productDetails['product_detail'].warranty?productDetails['product_detail'].warranty:'N/A'}}</span>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                  <div class="row" style="margin-top:2%">
                                    <span class="caption-title">Size : {{productDetails.size}}</span>
                                  </div>
                                  <div class="row">
                                    <span class="caption-title">Color : {{productDetails.color}}</span>
                                  </div>
                                </div>                                
                                <div class="col-md-2">
                                   <span class="caption-title">Qty : {{productDetails.quantity}}</span>
                                </div>
                                <div class="col-md-2">
                                    <span class="caption-title"  style="margin-top:5%">Price : {{productDetails['sale_price']}}</span>
                                </div>
                            </div>
                            <div class="caption-text-billing"> </div>
                            <table class="table">
                                <tbody><tr>
                                    <td class="ez-slat-tabled"><span class="hidden-xs">
                                      Description: {{productDetails['product_detail']['more_description']?productDetails['product_detail']['more_description']:productDetails['description']}}
                                    </span></td>
                                </tr>
                            </tbody></table>
                       </div>                            
                    </div>
                </div>
                    <!--/Modal Window -->
                </div>
             </div>

              <div ng-if="productList.length > viewby">
                <ul style="padding-top:5%;padding-left:5%">
                <li class="buttons col-sm-2" ng-hide="currentPage == 1"><a class="btn btn-theme" ng-click="previous(currentPage)">Previous</a></li>
                <li class="buttons col-sm-2 pull-right" ng-hide="currentPage*3 > totalItems"><a class="btn btn-theme" ng-click="next(currentPage)">Next</a></li>
              </ul>
              </div>
                <!-- /CONTENT -->
            </div>

    </section>
    <!-- /SECTION END -->
</div>
