<div class="content">
<div style="margin-top:10%">
  <div style="font-size:40px;padding-left:41%;">
     <strong> What do you want to do </strong>
  </div>
  <div style="padding-left:47%; font-size:35px">
    <strong >Shop Items(PHONES)</strong>
  </div>
    
  <div style="padding-left:47%; font-size:35px" ng-if="successmessage">
      {{successmessage}}
  </div>
    

  <div style="margin-left:65%" class="buttons"><a class="btn btn-theme" href="#searchProducts">Start</a></div>
</div>
 <div style="background-color: #bebebe; margin-top:5%">
   <div class="row" style="margin-left: 45%">
   <ul style="list-style-type: square">
         <li><h5>Uses EP</h5></li>
         <li ><h5>Uses Microservices</h5></li>
         <li ><h5>Uses Rest API</h5></li>
         <li ><h5>Uses Node & Mongo</h5></li>
         </ul>
       </div>
 </div>
<!-- /.container -->
</div>
