.dummy {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 100px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
}

.img{
     width: 200px;
    height: 120px;   
}

.popover {
  position: absolute;
  z-index: 100;
  width: 100%    
}

#tilesContainer {
    width: 10%;
    max-width: 400px;
    margin: 2em auto;
}
.tiles {
    -moz-column-count:3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count:3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
}
.box {
    margin-bottom: 20px;
    height:100px;
    background:#BFBFBF;
}

.custom-box-shadow{
    box-shadow: 1px 1px 5px #888888;
}
.img-thumbnail{
    border-radius:0px !important;
}

.animate-hide {
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
  position: absolute;
  left: 0;
}

}

.animate-hide.ng-hide {
  left: -100%;
  opacity: 0;
 padding: 0 10px; 
}
 