.accountbar {
    height: 60px;
    max-height: 60px;
    background:  !important;
    padding-top: 12px;
}


.tmo-error{
  color:red;
  margin-left: 1%;
}

.tmo-center {
    position: absolute;    
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -50px;
}

.tmo-container{
	width:100%
}

.tmo-footer {
    height: 40px;
    background-color: #5a5a5a;
    color: #fff;
    line-height: 40px;
    white-space: nowrap;
}
.tmo-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.tmo-tag {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1.563rem;
}
.tmo-tag-info {
    background-color: #5bc0de;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.popOverDetails-1
{
    position: fixed;
    z-index: 1001;
    width:60%;
    display:block;    
    background-color: #f1c40f;
    top:20%;
    left:23%;    
    outline: 9999px solid rgba(0,0,0,0.5);
}

.popOverDetails {
    /* some styles to position the modal at the center of the page */
    position: fixed;
    top: 50%;
    left: 32%;
    width: 60%;       
    margin-left: -150px;
    margin-top: -100px;
    background-color: #f1c40f;
    text-align: center;
    border-radius: 5px;
  
    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}

.carousel-control  {
 width:20px; 
 background: none !important;
 background-image: none !important;
 text-shadow: 0px;
}
.carousel-control.right {
 background-image: none !important;
 background: none !important;
}

.bg-tmo {
    background: #E20074 !important;
    height: 86px;
}

 .tmo-caption {
 padding:15px !important;   
}

.tmo-strike{
    text-decoration: line-through
}

.tmo-ez-thumbnail-photo {
    height: 100px !important;
    width: auto !important;
}

select.form-control {
    -webkit-appearance: menulist;
}

.noItems{
    color:darkgray;
    margin-left:50%;
}